<div class="panel panel-default">
  <div nn-element-header nn-element-header-sticky></div>
  <div class="panel-body" ng-show="!collapsed">
    <div ng-repeat="(iso_code, language) in languages">
      <div nn-form-group>
        <label for="{{ model.id }}_label_{{ iso_code }}">Label <small>{{ language }}</small></label>
        <input class="form-control" type="text" name="{{ element.id }}_label_{{ iso_code }}"
               id="{{ model.id }}_label_{{ iso_code }}"
               ng-model="model.label[iso_code]"/>
      </div>
    </div>
    <div nn-form-group>
      <div class="nullable">
        <label for="{{ model.id }}_next_slide">Next slide</label>
        <select class="form-control"
                name="{{ model.id }}_next_slide"
                id="{{ model.id }}_next_slide"
                ng-model="model.next_slide"
                ng-options="option.name as option.label for option in slideOptions | orderBy:'label'">
          <option value="">-- Slide --</option>
        </select>
      </div>
    </div>
    <div nn-styles="model.style"></div>
  </div>
</div>
